.bg {
	width : 80%;
	height: 60px;
	margin-left:10%;
	margin-top: 20px;
}
.search{
	margin-top: 40px;
}
.seaValue{
	width: 500px;
	height: 30px;
}
.seaBtn{
	background: #9F79EE;
	width: 70px;
	height: 35px;
	font-size: 16sp;
	color: white;
}
